<section class="container bg-dark">
<h1 class="text-center my-5"> Log In </h1>

{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}

<form action="/auth/login" class="text-center" method="post">
    <div class="form-group my-3">
        <label for="email-input"> Email </label>
        <input type="email"  class="form-control col-lg-4 mx-auto" name="email" id="email-input" placeholder="e.g., diana@themyscira.agency">
    </div>
    <div class="form-group my-3">
        <label for="password-input"> Password </label>
        <input type="password" class="form-control col-lg-4 mx-auto" name="password" id="password-input" placeholder="e.g., ••••••••••••">
    </div>
    <button class="btn btn-secondary my-3"> Log In </button>

<p>
    Don't have an account?
    <a href="/auth/signup">
       Sign Up
    </a>
</p>
</form>
</section>